body {
  background-color: #5e5e5e;
}

#chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#plot-white,
#plot-black {
  height: 250; /* Set the height of the SVG container */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
